*{
    margin : 0px;
    padding : 0px;
    border : 0px;
    color : #333;
}
@font-face {
    font-family: Inconsolata;
    src: url("fonts/Inconsolatazi4varl_qu/Inconsolatazi4varl_qu-Bold.otf");
}
@font-face {
    font-family: spacemono;
    src: url("fonts/spacemono/SpaceMono-Regular.ttf");
}
@font-face {
    font-family: monst;
    src: url("fonts/monst/Montserrat-Light.ttf");
}


h1{
    position : absolute;
    font-weight: 700;
    font-family: Inconsolata,Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style : normal;
    font-size  : 24px;
    height : 10px;
    left : 77px;
    line-height: 25.18px;
    top : 30px;
   
}

img {
    position : absolute;
    height: 447px;
    width: 539px;
    left: 77px;
    top: 165px;
    border-radius: 0px;
}

#big {
    font-family: spacemono, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 64px;
    position: absolute;
    line-height : 94.78px;
    left: 735px;
    top: 165px;
    height: 50px;
    width : 686px;
    height : 190px;
}

#small {
    position : absolute;
    left : 736px;
    top : 400px;
    font-family: spacemono,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style : normal;
    font-size : 24px;
    line-height: 35.54px;
    letter-spacing: -3.5%;
    width : 400px;
    height: 108px;
}

button {
    position: absolute;
    left : 740px;
    top : 540px;
    width : 200px;
    height : 68px;
    font-family: spacemono, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333;
    
}

#button {
    color : white;
    line-height: 20.73px;
    font-size : 14px;
    font-weight: 700;
    font-style : bold;
    line-height : 100%;
    letter-spacing:0.1em;
}

#foot{
    font-family: monst,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position : absolute;
    top : 680px;
    left : 600px;
    font-weight: 500;
    font-style: normal;
    line-height: 17.07px;
    align-items: center;
    font-size: 14px;
    color : #BDBDBD;

}

#name{
    font-weight: 700;

    color : #BDBDBD;
}

@media (min-width : 1090px) and (max-width : 1350px) {
    .container #big{
        padding-right : 100px;
        height : 30%;
        width : auto;
        font-size: 300%;
        line-height: 50px;
    }
    .container #small{
        padding-right : 100px;
        height : 30%;
        width : auto;
        font-size: 150%;
        line-height: 30px;
        top : 350px;
    }
    #foot{
        left : 35%;
    }
}

@media (min-width : 700px) and (max-width : 1090px) {
    .container #big{
        padding-right : 100px;
        height : 30%;
        width : auto;
        font-size: 200%;
        line-height: 40px;
        left : 60%;
    }
    .container #small{
        padding-right : 100px;
        height : 20%;
        width : auto;
        font-size: 150%;
        line-height: 30px;
        top : 300px;
        left : 60%;
    }
    button {
        top : 550px;
        width: auto;
        height : 9%;
        left : 60%;
    }
    .container #button {
        padding : 5px;
        width: auto;
        height : 9%;
    }
    img {
        width : auto;
        height : 45%;
        left : 5%;
    }
    h1{
        width : 20%;
        left : 10%;
    }
    #foot{
        left : 25%;
    }
}
@media (max-width : 700px) {
    h1{
        top : 20px;
        left : 24px;
    }
    img{
        height : 40%;
        width : auto;
        top : 10%;
        left : 10%;
    }
    .container #big{
        top : 60%;
        left : 24px;
        width : 80%;
        font-size : 40px;
        line-height: 40px;
    }
    .container #small{
        top : 75%;
        left : 24px;
        width : 80%;
        font-size : 25px;
        line-height: 25px;
    }
    button{
        top : 95%;
        left : 24px;
        width : 50%;
        font-size : 25px;
        line-height: 25px;
        height : 50px;
    }

    #foot{
        left : 10%;
        width: 80%;
        top : 100%;
        padding : 30px 10px;
    }
}
